In [1]:
import pandas as pd

df1 = pd.read_csv('data_1.csv', encoding='cp949')
df2 = pd.read_csv('data_2.csv', encoding='cp949')
df3 = pd.read_csv('data_3.csv', encoding='cp949')

In [2]:
df1_a = df1[df1['감정'] == 'angry']
df1_b = df1[df1['감정'] == 'sadness']
df1_c = df1[df1['감정'] == 'fear']
df1_d = df1[df1['감정'] == 'surprise']
df1_e = df1[df1['감정'] == 'happiness']

DF_1 = pd.concat([df1_a,df1_b,df1_c,df1_d,df1_e])

DF_1['감정'] = DF_1['감정'].replace('angry', '분노')
DF_1['감정'] = DF_1['감정'].replace('sadness', '슬픔')
DF_1['감정'] = DF_1['감정'].replace('fear', '불안')
DF_1['감정'] = DF_1['감정'].replace('surprise', '불안')
DF_1['감정'] = DF_1['감정'].replace('happiness', '행복')

DF_1

                                                      문장  감정
13     내가 좋아하는 유튜버가 좋은 제품이라고 하길래 나도 샀지. 그런데 그게 돈 받고 하...  분노
14         그래서 사람들이 증거 사진을 올렸더니 그 때서야 광고였다고 미안하다고 하는 거야.  분노
15     처음부터 자기 잘못을 알고 미안하다고 했으면 화가 이렇게 나진 않았을 거야. 사람들...  분노
17                                     내 휴가가 엉망진창이 돼버렸어.  분노
18            휴가 시작함과 동시에 장마도 같이 시작해버렸어. 그래서 하루 종일 비가 와.  분노
...                                                  ...  ..
19344                                   여행지중에 추천할만한데 있어?  행복
19360                              맞아. 한동안은 쉴 수 있을 것 같애.  행복
19361                       여행 갔다 와볼까 생각 중인데 추천해줄만한데 있어?  행복
19362                     친구들은 바빠서 나 혼자 놀러갈려고 하는데 어디 갈까?  행복
19372                                    나 드디어 프로젝트 끝났어!  행복

[13800 rows x 2 columns]

In [12]:
df2_a = df2[df2['감정'] == '분노']
df2_b = df2[df2['감정'] == '슬픔']
df2_c = df2[df2['감정'] == '불안']
df2_d = df2[df2['감정'] == '기쁨']

DF_2 = pd.concat([df2_a,df2_b,df2_c,df2_d])
DF_2.reset_index(drop=True, inplace=True)
DF_2['감정'] = DF_2['감정'].replace('기쁨', '행복')
DF_2.head()

                                                  문장  감정
0                          일은 왜 해도 해도 끝이 없을까? 화가 난다.  분노
1     이번 달에 또 급여가 깎였어! 물가는 오르는데 월급만 자꾸 깎이니까 너무 화가 나.  분노
2  회사에 신입이 들어왔는데 말투가 거슬려. 그런 애를 매일 봐야 한다고 생각하니까 스...  분노
3  직장에서 막내라는 이유로 나에게만 온갖 심부름을 시켜. 일도 많은 데 정말 분하고 ...  분노
4              얼마 전 입사한 신입사원이 나를 무시하는 것 같아서 너무 화가 나.  분노

In [11]:
df3_a = df3[df3['감정'] == '분노']
df3_b = df3[df3['감정'] == '슬픔']
df3_c = df3[df3['감정'] == '불안']
df3_d = df3[df3['감정'] == '기쁨']

DF_3 = pd.concat([df3_a,df3_b,df3_c,df3_d])
DF_3.reset_index(drop=True, inplace=True)
DF_3['감정'] = DF_3['감정'].replace('기쁨', '행복')
DF_3.head()

                                                  문장  감정
0  직장에서 직원들이 서로들 이간질하고 따돌리는데 그걸 보고 있자니 진짜 사람들이 추악...  분노
1          상사가 권위를 남용해서 직원들을 못살게 구는데 보고만 있자니 구역질이 나.  분노
2                    과장이 동기한테 성희롱적인 말을 했을 때 구역질이 났어.  분노
3          직위가 높다고 직원들을 제멋대로 부려먹는 상사를 보고 있자니 구역질이 나.  분노
4  취업 못 하는 친구들 비하하는 사람이 있는데 그런 사람이랑은 더 이상 친구로는 지낼...  분노

In [10]:
DF = pd.concat([DF_1,DF_2,DF_3])
DF.head()

                                                   문장  감정
13  내가 좋아하는 유튜버가 좋은 제품이라고 하길래 나도 샀지. 그런데 그게 돈 받고 하...  분노
14      그래서 사람들이 증거 사진을 올렸더니 그 때서야 광고였다고 미안하다고 하는 거야.  분노
15  처음부터 자기 잘못을 알고 미안하다고 했으면 화가 이렇게 나진 않았을 거야. 사람들...  분노
17                                  내 휴가가 엉망진창이 돼버렸어.  분노
18         휴가 시작함과 동시에 장마도 같이 시작해버렸어. 그래서 하루 종일 비가 와.  분노

In [6]:
DF['감정'].value_counts()

감정
분노    13680
불안    13574
슬픔    12976
행복    11887
Name: count, dtype: int64

In [9]:
DF_copy = DF.copy()

# 분노 -> 0, 슬픔 -> 1, 불안 -> 2, 행복 -> 3
DF_copy.loc[(DF_copy['감정'] == "분노"), '감정'] = 0

DF_copy.loc[(DF_copy['감정'] == "슬픔"), '감정'] = 1

DF_copy.loc[(DF_copy['감정'] == "불안"), '감정'] = 2

DF_copy.loc[(DF_copy['감정'] == "행복"), '감정'] = 3

DF.loc[:, '감정'] = DF_copy['감정']
DF.reset_index(drop=True, inplace=True)

# 데이터 확인
DF.head()

                                                  문장 감정
0  내가 좋아하는 유튜버가 좋은 제품이라고 하길래 나도 샀지. 그런데 그게 돈 받고 하...  0
1      그래서 사람들이 증거 사진을 올렸더니 그 때서야 광고였다고 미안하다고 하는 거야.  0
2  처음부터 자기 잘못을 알고 미안하다고 했으면 화가 이렇게 나진 않았을 거야. 사람들...  0
3                                  내 휴가가 엉망진창이 돼버렸어.  0
4         휴가 시작함과 동시에 장마도 같이 시작해버렸어. 그래서 하루 종일 비가 와.  0

In [8]:
DF.to_csv('new_dataset.csv', index=False)